<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <style>
        body{

            background-color: #ffffff
        }
    </style>

</head>
<body>
<% include admin/header.ejs %>

<% include navbarIndex.ejs %>


<div class="container">


    <div class="row">
        <p style="margin:20px;"></p>
    </div>

    <div class="row" style="padding-top: 30px; ">
        <div class="col-lg-12 text-center">
            <h1>Welcome to Urban Gardener</h1>
            <h3>Join hands for greener cities!</h3>
        </div>
    </div>

    <div class="row">
        <p style="margin:20px;"></p>
    </div>


    <div class="row">

        <div class="col-lg-4 col-md-6">
                <a href="../yourarea/gq">
                <div class="w3-card-4" style="width:100%">
                    <img src="../images/gq.jpg" alt="Green Quotient" style="width:100%">
                    <div class="w3-container w3-center">
                        <p style="margin:10px;"><h4>Green Quotient</h4></p>
                    </div>
                </div>
                </a>
            </div>

        <div class="col-lg-4 col-md-6">
            <a href="../yourarea/aqi">
                <div class="w3-card-4" style="width:100%">
                    <img src="../images/aqi.jpg" alt="Norway" style="width:100%">
                    <div class="w3-container w3-center">
                        <p style="margin:10px;"><h4>Air Quality Index</h4></p>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-lg-4 col-md-6">
            <a href="../yourarea/vq">
                <div class="w3-card-4" style="width:100%">
                    <img src="../images/volunteers.jpg" alt="Norway" style="width:100%">
                    <div class="w3-container w3-center">
                        <p style="margin:10px;"><h4>Volunteer Quotient</h4></p>
                    </div>
                </div>
            </a>
        </div>

    </div>

    <div class="row">
        <p style="margin:20px;"></p>
    </div>

    <div class="row">

        <div class="col-lg-4 col-md-6">
            <a href="areastats">
                <div class="w3-card-4" style="width:100%">
                    <img src="../images/treediversity.jpg" alt="Norway" style="width:100%">
                    <div class="w3-container w3-center">
                        <p style="margin:10px;"><h4>Tree Diversity</h4></p>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-lg-4 col-md-6">
            <a href="areastats">
                <div class="w3-card-4" style="width:100%">
                    <img src="../images/treesplanted.jpg" alt="Norway" style="width:100%">
                    <div class="w3-container w3-center">
                        <p style="margin:10px;"><h4>Trees Planted</h4></p>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-lg-4 col-md-6">
            <a href="areastats">
                <div class="w3-card-4" style="width:100%">
                    <img src="../images/pollutiongases.jpg" alt="Norway" style="width:100%">
                    <div class="w3-container w3-center">
                        <p style="margin:10px;"><h4>Pollution Gases</h4></p>
                    </div>
                </div>
            </a>
        </div>

    </div>

    <div class="row">
        <p style="margin:20px;"></p>
    </div>

    <div class="row">

        <div class="col-lg-4 col-md-6">
            <a href="reqmaintain">
                <div class="w3-card-4" style="width:100%">
                    <img src="../images/maintain.jpg" alt="Norway" style="width:100%">
                    <div class="w3-container w3-center">
                        <p style="margin:10px;"><h4>Request Maintenance</h4></p>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-lg-4 col-md-6">
            <a href="areastats">
                <div class="w3-card-4" style="width:100%">
                    <img src="../images/treesuit.jpg" alt="Norway" style="width:100%">
                    <div class="w3-container w3-center">
                        <p style="margin:10px;"><h4>Tree Suitability</h4></p>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-lg-4 col-md-6">
            <a href="volunteer">
                <div class="w3-card-4" style="width:100%">
                    <img src="../images/become.jpg" alt="Norway" style="width:100%">
                    <div class="w3-container w3-center">
                        <p style="margin:10px;"><h4>Become a Volunteer</h4></p>
                    </div>
                </div>
            </a>
        </div>

    </div>

    <div class="row">
        <p style="margin:20px;"></p>
    </div>
















</div>
</body>
</html>
