<!DOCTYPE html>
<html>
<body>
<% include admin/header.ejs %>

<div id="wrapper">


    <nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="margin-bottom: 0">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="../"><h3 class="indexh3"><strong>The Urban Gardener</strong></h3></a>
        </div>

        <ul class="nav navbar-nav navbar-right">
            <li><a href="knowMore"><h4 class="indexh3"><span class="glyphicon glyphicon-th-large"></span><strong> Know More</strong></h4></a></li>
            <li><a href="../admin/login"><h4 class="indexh3"><span class="glyphicon glyphicon-user"></span><strong> Admin Login</strong></h4></a></li>

        </ul>


        <!-- /.navbar-header -->




    </nav>






</div>





</body>



</html>