<!DOCTYPE html>
<html>
<body>
<% include admin/header.ejs %>

<div id="wrapper">


    <nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="margin-bottom: 0">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="../"><h3 class="indexh3"><strong>The Urban Gardener</strong></h3></a>
        </div>

        <ul class="nav navbar-nav navbar-right">
            <li><a href="../knowMore"><h4 class="indexh3"><span class="glyphicon glyphicon-th-large"></span><strong> Know More</strong></h4></a></li>
            <li><a href="../admin/logout"><h4 class="indexh3"><span class="glyphicon glyphicon-user"></span><strong> Admin Logout</strong></h4></a></li>

        </ul>




        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">





                    <li>
                        <a href="../admin/home"><i class="fa fa-table fa-fw"></i> GQ Deficient Areas</a>
                    </li>


                    <li>
                        <a href="../admin/home"><i class="fa fa-edit fa-fw"></i> Supplier Ratings</a>
                    </li>

                    <li>
                        <a href="../admin/home"><i class="fa fa-edit fa-fw"></i> Place Order</a>
                    </li>

                    <li>
                        <a href="https://www.google.com/"><i class="fa fa-bar-chart-o"></i> Green Quotient Trends<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a id ="bnqqpast" href="../yourarea/gq">Past Trends(Last 10 months)</a>
                            </li>
                            <li>
                                <a id="bngqcompare" href="../yourarea/gq">Compare Past Trends of Different Areas</a>
                            </li>
                            <li>
                                <a id="bngqcurrent" href="../yourarea/gq">Compare Current GQ with top 5 Areas</a>
                            </li>

                        </ul>
                        <!-- /.nav-second-level -->
                    </li>

                    <li>
                        <a href="https://www.google.com/"><i class="fa fa-signal"></i> Air Quality Analysis<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a id ="bnaqipast" href="../yourarea/aqi">Past Trends(Last 10 months)</a>
                            </li>
                            <li>
                                <a id="bnaqicompare" href="../yourarea/aqi">Compare Past Trends of Different Areas</a>
                            </li>
                            <li>
                                <a id="bnaqicurrent" href="../yourarea/aqi">Compare Current AQI with top 5 Areas</a>
                            </li>

                        </ul>
                        <!-- /.nav-second-level -->
                    </li>


                    <li>
                        <a href="https://www.google.com/"><i class="fa fa-user"></i> Volunteer Quotient<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a id ="bnvqpast" href="../yourarea/vq">Past Trends(Last 10 months)</a>
                            </li>
                            <li>
                                <a id="bnvqcompare" href="../yourarea/vq">Compare Past Trends of Different Areas</a>
                            </li>
                            <li>
                                <a id="bnvqcurrent" href="../yourarea/vq">Compare Current VQ with top 5 Areas</a></a>
                            </li>


                        </ul>
                        <!-- /.nav-second-level -->


                    </li>




                    <li>
                        <a href="../areastats"><span class="glyphicon glyphicon-tree-deciduous"></span> Check Tree Density</a>
                    </li>

                    <li>
                        <a href="../areastats"><span class="glyphicon glyphicon-stats"></span></i> Trees Planted in Last 3 months</a>
                    </li>

                    <li>
                        <a href="../areastats"><i class="fa fa-dashboard fa-fw"></i> Pollution Gases Measure</a>
                    </li>


                </ul>
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->
    </nav>
    <div class="row">
        <p></p>

    </div>
    <div class="row">
        <p></p>

    </div>




</div>





</body>



</html>